<template>
  <h1>The Progressive JavaScript Framework</h1>
  <hr />
  <p>{{ msg }}</p>
  {{ buttonHTML }}
  <span v-html="buttonHTML"></span>
  <p v-bind:style="color">TEST</p>
  <a href="web">Google</a>
  {{ num1 }}
  <h2 :style="`color: ${'green'}`">${{ saving }}</h2>
  <h2 :style="`color: ${price = 200? 'blue' : 'pink'}`">${{ price }}</h2>
  <h2 v-bind:class ="total  =200? 'bottom' : 'background'">${{ total }}</h2>

</template>

<style>
.buttom{
  color: pink;
}
.backgroud{
  color blue;
}
</style>

<script>
const msg ="hello"
const buttonHTML ="<buttom>Click Me</buttom>"
const  color="color: blue;backgroud-color :blue"
const web="https://www.google.com"
const num1=2*5
const saving = 350
const price = 200
const total =500

  export default {
    name:"App",
    data() {
      return{
        total,
        price,
        saving,
        num1,
        msg,
        buttonHTML,
        color,
        web,
      }
    }

  };
</script>

<style>
  h1{
    color: rgb(0, 196, 147);
  }
</style>
